.error-p {
        color: red;
}
#edit-bio{
        resize: none;
    }
.hidden {
        display: none;
}

#edit-profile-img {
        width: 110px;
        height: 110px;
    }

.profile-img-container-edit {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
        z-index: 0;
        border: 6px solid #ffffff;
        margin: auto;
}
label[for*="profile-img-input"] {
        left: 6.5px;
        position: relative;
        top: 7px;
        color: white;
    }

    #img-input-label-container {
        border-radius: 30px;
        position: relative;
        bottom: 85px;
        left: 47.7%;
        width: 40px;
        height: 40px;
        background-color: #00000077;
    }

    #img-input-label-container:hover {
        background-color: #0673d2bc;
    }
    
    #edit-profile-btn {
        font-weight: 700;
        font-size: 18px;
        margin-top: 10px;
        border-radius: 20px;
        border: 1px solid #d0cfcf77;
        margin-bottom: 10px;
    
    }
    

    @media(max-width: 1007px){
        #img-input-label-container{
                left: 47%;
        }
    }

